<h1>Welcome to the Snoop app</h1>


<form action="/form" method="post">
  <div class="form-group">
    <label id="word">Enter your words:</label>
    <input id="word" name="word" type="text">
  </div>

  <button type="submit" class="btn btn-sm btn-danger">Foshizzle it!</button>

</form>
