<div class="jumbotron">
  <h1>Snoop Dog Foshizzle<h1>

  </div>


  <a href="/form" class="btn btn btn-success">Let's Play</a>

  <hr>
</br>

<br/>
<br/>

<div class="well">
<% if @words %>
  <p>
    <%= @words %>
  </p>
<% end %>

</div>
